#singlePost-card {
	background: rgba(255, 255, 255, 0.336);
	padding: 2em 3em;
	text-align: center;
	// the code below is what primarily creates the Effect Glassmorphism
	backdrop-filter: blur(5px);
	border: solid 2px transparent;
	border-radius: 10px;
	background-clip: padding-box;
	box-shadow: 10px 10px 10px rgba(46, 54, 68, 0.3);
}
